.example-card {
  position: relative;
  background-color: #fff;
  max-width: 400px;
  height: 450px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
}

.mat-card-header {
  margin-bottom: 15px;
}

.mat-card-title {
  color: #444;
  font-weight: bold;
}

.img-container {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 270px;
}

.mat-card-actions {
  position: absolute;
  bottom: 15px;
}

.blueLike {
  color: blue;
}

.greenLike {
  color: green;
}